tei/kernel/schema/DR-TEI.dtd


<!--
DTD generated from ODD source 2017-12-31T02:53:40Z. .
TEI Edition: Version 3.2.0. Last updated on
	10th July 2017, revision 0fcf651
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.2.0/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.xTruthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.pattern ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.version ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.replacement ' CDATA' >

<!ENTITY % teidata.xpath ' CDATA' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.name ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike "text"> 
<!ENTITY % model.resourceLike_sequence "text"> 
<!ENTITY % model.resourceLike_sequenceOptional "text?"> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resourceLike_sequenceRepeatable "text+"> 
<!ENTITY % tei_att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.linking.attributes '
 %tei_att.global.linking.attribute.corresp;
 %tei_att.global.linking.attribute.synch;
 %tei_att.global.linking.attribute.sameAs;
 %tei_att.global.linking.attribute.copyOf;
 %tei_att.global.linking.attribute.next;
 %tei_att.global.linking.attribute.prev;
 %tei_att.global.linking.attribute.exclude;
 %tei_att.global.linking.attribute.select;'> 
<!-- end of predeclared classes -->

<!ENTITY % tei_att.ascribed.attribute.who '
who CDATA  #IMPLIED'>
<!ENTITY % tei_att.ascribed.attributes '
 %tei_att.ascribed.attribute.who;'> 
<!ENTITY % tei_att.canonical.attribute.key '
key %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % tei_att.canonical.attributes '
 %tei_att.canonical.attribute.key;
 %tei_att.canonical.attribute.ref;'> 
<!ENTITY % tei_att.ranging.attribute.atLeast '
atLeast %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.atMost '
atMost %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.min '
min %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.max '
max %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.confidence '
confidence %teidata.probability;  #IMPLIED'>
<!ENTITY % tei_att.ranging.attributes '
 %tei_att.ranging.attribute.atLeast;
 %tei_att.ranging.attribute.atMost;
 %tei_att.ranging.attribute.min;
 %tei_att.ranging.attribute.max;
 %tei_att.ranging.attribute.confidence;'> 
<!ENTITY % tei_att.dimensions.attribute.unit '
unit %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.quantity '
quantity %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.extent '
extent %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.precision '
precision %teidata.certainty;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.scope '
scope %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.dimensions.attributes '%tei_att.ranging.attributes;
 %tei_att.dimensions.attribute.unit;
 %tei_att.dimensions.attribute.quantity;
 %tei_att.dimensions.attribute.extent;
 %tei_att.dimensions.attribute.precision;
 %tei_att.dimensions.attribute.scope;'> 
<!ENTITY % tei_att.written.attribute.hand '
hand %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.written.attributes '
 %tei_att.written.attribute.hand;'> 
<!ENTITY % tei_att.breaking.attribute.break '
break %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.breaking.attributes '
 %tei_att.breaking.attribute.break;'> 
<!ENTITY % tei_att.cReferencing.attribute.cRef '
cRef %teidata.text;  #IMPLIED'>
<!ENTITY % tei_att.cReferencing.attributes '
 %tei_att.cReferencing.attribute.cRef;'> 
<!ENTITY % tei_att.datable.w3c.attribute.when '
when %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notBefore '
notBefore %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notAfter '
notAfter %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.from '
from %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.to '
to %teidata.temporal.w3c;  #IMPLIED'>
<!ENTITY % tei_att.datable.w3c.attributes '
 %tei_att.datable.w3c.attribute.when;
 %tei_att.datable.w3c.attribute.notBefore;
 %tei_att.datable.w3c.attribute.notAfter;
 %tei_att.datable.w3c.attribute.from;
 %tei_att.datable.w3c.attribute.to;'> 
<!ENTITY % tei_att.datable.attribute.calendar '
calendar %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.attribute.period '
period %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.attributes '%tei_att.datable.w3c.attributes;
 %tei_att.datable.attribute.calendar;
 %tei_att.datable.attribute.period;'> 
<!ENTITY % tei_att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % tei_att.declarable.attributes '
 %tei_att.declarable.attribute.default;'> 
<!ENTITY % tei_att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>
<!ENTITY % tei_att.declaring.attributes '
 %tei_att.declaring.attribute.decls;'> 
<!ENTITY % tei_att.fragmentable.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % tei_att.fragmentable.attributes '
 %tei_att.fragmentable.attribute.part;'> 
<!ENTITY % tei_att.divLike.attribute.org '
org (composite|uniform) "uniform" '>

<!ENTITY % tei_att.divLike.attribute.sample '
sample (initial|medial|final|unknown|complete) "complete" '>
<!ENTITY % tei_att.divLike.attributes '%tei_att.fragmentable.attributes;
 %tei_att.divLike.attribute.org;
 %tei_att.divLike.attribute.sample;'> 
<!ENTITY % tei_att.docStatus.attribute.status '
status %teidata.enumerated;  "draft" '>
<!ENTITY % tei_att.docStatus.attributes '
 %tei_att.docStatus.attribute.status;'> 
<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.editLike.attribute.instant '
instant %teidata.xTruthValue;  "false" '>
<!ENTITY % tei_att.editLike.attributes '%tei_att.dimensions.attributes;
 %tei_att.editLike.attribute.evidence;
 %tei_att.editLike.attribute.instant;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % tei_att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % tei_att.global.attribute.n '
n %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmllang '
xml:lang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlbase '
xml:base %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % tei_att.global.attributes '%tei_att.global.rendition.attributes;%tei_att.global.linking.attributes;%tei_att.global.responsibility.attributes;%tei_att.global.source.attributes;
 %tei_att.global.attribute.xmlid;
 %tei_att.global.attribute.n;
 %tei_att.global.attribute.xmllang;
 %tei_att.global.attribute.xmlbase;
 %tei_att.global.attribute.xmlspace;'> 
<!ENTITY % tei_att.naming.attribute.role '
role NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % tei_att.naming.attributes '%tei_att.canonical.attributes;
 %tei_att.naming.attribute.role;
 %tei_att.naming.attribute.nymRef;'> 
<!ENTITY % tei_att.placement.attribute.place '
place NMTOKENS  #IMPLIED'>
<!ENTITY % tei_att.placement.attributes '
 %tei_att.placement.attribute.place;'> 
<!ENTITY % tei_att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.typed.attribute.subtype '
subtype %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.typed.attributes '
 %tei_att.typed.attribute.type;
 %tei_att.typed.attribute.subtype;'> 
<!ENTITY % tei_att.pointing.attribute.targetLang '
targetLang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % tei_att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % tei_att.pointing.attributes '
 %tei_att.pointing.attribute.targetLang;
 %tei_att.pointing.attribute.target;
 %tei_att.pointing.attribute.evaluate;'> 
<!ENTITY % tei_att.sortable.attribute.sortKey '
sortKey %teidata.word;  #IMPLIED'>
<!ENTITY % tei_att.sortable.attributes '
 %tei_att.sortable.attribute.sortKey;'> 
<!ENTITY % tei_att.edition.attribute.ed '
ed CDATA  #IMPLIED'>

<!ENTITY % tei_att.edition.attribute.edRef '
edRef CDATA  #IMPLIED'>
<!ENTITY % tei_att.edition.attributes '
 %tei_att.edition.attribute.ed;
 %tei_att.edition.attribute.edRef;'> 
<!ENTITY % tei_att.spanning.attribute.spanTo '
spanTo %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.spanning.attributes '
 %tei_att.spanning.attribute.spanTo;'> 
<!ENTITY % model.nameLike.agent ""> 
<!ENTITY % model.nameLike.agent_sequence ""> 
<!ENTITY % model.nameLike.agent_sequenceOptional ""> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable ""> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable ""> 
<!ENTITY % model.segLike ""> 
<!ENTITY % model.segLike_sequence ""> 
<!ENTITY % model.segLike_sequenceOptional ""> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.segLike_sequenceRepeatable ""> 
<!ENTITY % model.hiLike ""> 
<!ENTITY % model.hiLike_sequence ""> 
<!ENTITY % model.hiLike_sequenceOptional ""> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.hiLike_sequenceRepeatable ""> 
<!ENTITY % model.emphLike "term |title"> 
<!ENTITY % model.emphLike_sequence "term, title"> 
<!ENTITY % model.emphLike_sequenceOptional "term?, title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "term*, title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "term+, title+"> 
<!ENTITY % model.highlighted "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.emphLike;+"> 
<!ENTITY % model.dateLike "date"> 
<!ENTITY % model.dateLike_sequence "date"> 
<!ENTITY % model.dateLike_sequenceOptional "date?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+"> 
<!ENTITY % model.measureLike ""> 
<!ENTITY % model.measureLike_sequence ""> 
<!ENTITY % model.measureLike_sequenceOptional ""> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.measureLike_sequenceRepeatable ""> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike ""> 
<!ENTITY % model.graphicLike_sequence ""> 
<!ENTITY % model.graphicLike_sequenceOptional ""> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.graphicLike_sequenceRepeatable ""> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc ""> 
<!ENTITY % model.pPart.msdesc_sequence ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptional ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable ""> 
<!ENTITY % model.pPart.editorial ""> 
<!ENTITY % model.pPart.editorial_sequence ""> 
<!ENTITY % model.pPart.editorial_sequenceOptional ""> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable ""> 
<!ENTITY % model.pPart.transcriptional ""> 
<!ENTITY % model.pPart.transcriptional_sequence ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable ""> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.ptrLike ""> 
<!ENTITY % model.ptrLike_sequence ""> 
<!ENTITY % model.ptrLike_sequenceOptional ""> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.ptrLike_sequenceRepeatable ""> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta ""> 
<!ENTITY % model.global.meta_sequence ""> 
<!ENTITY % model.global.meta_sequenceOptional ""> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.meta_sequenceRepeatable ""> 
<!ENTITY % model.milestoneLike "pb"> 
<!ENTITY % model.milestoneLike_sequence "pb"> 
<!ENTITY % model.milestoneLike_sequenceOptional "pb?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "pb*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "pb+"> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl"> 
<!ENTITY % model.biblLike_sequence "bibl"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike ""> 
<!ENTITY % model.labelLike_sequence ""> 
<!ENTITY % model.labelLike_sequenceOptional ""> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.labelLike_sequenceRepeatable ""> 
<!ENTITY % model.listLike "list"> 
<!ENTITY % model.listLike_sequence "list"> 
<!ENTITY % model.listLike_sequenceOptional "list?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike ""> 
<!ENTITY % model.lLike_sequence ""> 
<!ENTITY % model.lLike_sequenceOptional ""> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "p |ab"> 
<!ENTITY % model.pLike_sequence "p, ab"> 
<!ENTITY % model.pLike_sequenceOptional "p?, ab?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*, ab*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+, ab+"> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.global.edit ""> 
<!ENTITY % model.global.edit_sequence ""> 
<!ENTITY % model.global.edit_sequenceOptional ""> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.edit_sequenceRepeatable ""> 
<!ENTITY % model.divPart "%model.pLike; |sp"> 
<!ENTITY % model.divPart_sequence "%model.pLike;, sp"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?, sp?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*, sp*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+, sp+"> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.publicationStmtPart.agency "authority"> 
<!ENTITY % model.publicationStmtPart.agency_sequence "authority"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptional "authority?"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptionalRepeatable "authority*"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceRepeatable "authority+"> 
<!ENTITY % model.publicationStmtPart.detail "date |availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequence "date, availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptional "date?, availability?"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptionalRepeatable "date*, availability*"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceRepeatable "date+, availability+"> 
<!ENTITY % model.availabilityPart ""> 
<!ENTITY % model.availabilityPart_sequence ""> 
<!ENTITY % model.availabilityPart_sequenceOptional ""> 
<!ENTITY % model.availabilityPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.availabilityPart_sequenceRepeatable ""> 
<!ENTITY % model.quoteLike ""> 
<!ENTITY % model.quoteLike_sequence ""> 
<!ENTITY % model.quoteLike_sequenceOptional ""> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.quoteLike_sequenceRepeatable ""> 
<!ENTITY % model.qLike ""> 
<!ENTITY % model.qLike_sequence ""> 
<!ENTITY % model.qLike_sequenceOptional ""> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.qLike_sequenceRepeatable ""> 
<!ENTITY % model.respLike "author |editor"> 
<!ENTITY % model.respLike_sequence "author, editor"> 
<!ENTITY % model.respLike_sequenceOptional "author?, editor?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, editor*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, editor+"> 
<!ENTITY % model.divWrapper ""> 
<!ENTITY % model.divWrapper_sequence ""> 
<!ENTITY % model.divWrapper_sequenceOptional ""> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divWrapper_sequenceRepeatable ""> 
<!ENTITY % model.divTopPart "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+"> 
<!ENTITY % model.divTop "%model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divTopPart;+"> 
<!ENTITY % model.frontPart.drama ""> 
<!ENTITY % model.frontPart.drama_sequence ""> 
<!ENTITY % model.frontPart.drama_sequenceOptional ""> 
<!ENTITY % model.frontPart.drama_sequenceOptionalRepeatable ""> 
<!ENTITY % model.frontPart.drama_sequenceRepeatable ""> 
<!ENTITY % model.pLike.front "head"> 
<!ENTITY % model.pLike.front_sequence "head"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+"> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom ""> 
<!ENTITY % model.divBottom_sequence ""> 
<!ENTITY % model.divBottom_sequenceOptional ""> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottom_sequenceRepeatable ""> 
<!ENTITY % model.imprintPart ""> 
<!ENTITY % model.imprintPart_sequence ""> 
<!ENTITY % model.imprintPart_sequenceOptional ""> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.imprintPart_sequenceRepeatable ""> 
<!ENTITY % model.addressLike ""> 
<!ENTITY % model.addressLike_sequence ""> 
<!ENTITY % model.addressLike_sequenceOptional ""> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.addressLike_sequenceRepeatable ""> 
<!ENTITY % model.nameLike ""> 
<!ENTITY % model.nameLike_sequence ""> 
<!ENTITY % model.nameLike_sequenceOptional ""> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.nameLike_sequenceRepeatable ""> 
<!ENTITY % model.global "%model.milestoneLike; |%model.noteLike;"> 
<!ENTITY % model.global_sequence "%model.milestoneLike;, %model.noteLike;"> 
<!ENTITY % model.global_sequenceOptional "%model.milestoneLike;?, %model.noteLike;?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.milestoneLike;*, %model.noteLike;*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.milestoneLike;+, %model.noteLike;+"> 
<!ENTITY % model.biblPart "%model.respLike; |bibl |availability"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, bibl, availability"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, bibl?, availability?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, bibl*, availability*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, bibl+, availability+"> 
<!ENTITY % model.frontPart ""> 
<!ENTITY % model.frontPart_sequence ""> 
<!ENTITY % model.frontPart_sequenceOptional ""> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.frontPart_sequenceRepeatable ""> 
<!ENTITY % model.pPart.data "%model.dateLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |%model.listLike;"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.listLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.listLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.listLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.listLike;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.highlighted; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.highlighted;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.highlighted;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.highlighted;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.highlighted;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart "profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequence "profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequenceOptional "profileDesc?"> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable "profileDesc*"> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable "profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.profileDescPart "textClass"> 
<!ENTITY % model.profileDescPart_sequence "textClass"> 
<!ENTITY % model.profileDescPart_sequenceOptional "textClass?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "textClass*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "textClass+"> 
<!ENTITY % model.resourceLike "text"> 
<!ENTITY % model.resourceLike_sequence "text"> 
<!ENTITY % model.resourceLike_sequenceOptional "text?"> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resourceLike_sequenceRepeatable "text+"> 
<!ENTITY % tei_att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.linking.attributes '
 %tei_att.global.linking.attribute.corresp;
 %tei_att.global.linking.attribute.synch;
 %tei_att.global.linking.attribute.sameAs;
 %tei_att.global.linking.attribute.copyOf;
 %tei_att.global.linking.attribute.next;
 %tei_att.global.linking.attribute.prev;
 %tei_att.global.linking.attribute.exclude;
 %tei_att.global.linking.attribute.select;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.global;|lg|_DUMMY_model.lLike)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|%model.global;)*' >

<!ENTITY % macro.specialPara '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.divPart;|%model.global;)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resourceLike class. Multiple TEI elements may be combined to form a teiCorpus element. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT TEI ((teiHeader,(%model.resourceLike;)+))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %tei_att.global.attributes;
 %tei_att.typed.attributes;
version %teidata.version;  #IMPLIED >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph. [16.3. Blocks, Segments, and Anchors] -->
<!ELEMENT ab %macro.paraContent;>
<!ATTLIST ab xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ab
 %tei_att.global.attributes;
 %tei_att.typed.attributes;
 %tei_att.declaring.attributes;
 %tei_att.fragmentable.attributes;
 %tei_att.written.attributes; >
<!--doc:in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement] -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %tei_att.global.attributes;
 %tei_att.naming.attributes; >
<!--doc:(release authority) supplies the name of a person or other agency responsible for making a work available, other than a publisher or distributor. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT authority %macro.phraseSeq.limited;>
<!ATTLIST authority xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST authority
 %tei_att.global.attributes; >
<!--doc:supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT availability (_DUMMY_model.availabilityPart|%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %tei_att.global.attributes;
 %tei_att.declarable.attributes;
status (free|unknown|restricted) "unknown"  >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. [4.7. Back Matter 4. Default Text Structure] -->
<!ELEMENT back (((_DUMMY_model.frontPart|%model.pLike.front;|%model.pLike;|%model.listLike;|%model.global;)*,(((_DUMMY_model.div1Like),(_DUMMY_model.frontPart|_DUMMY_model.div1Like|%model.global;)*)|((%model.divLike;),(_DUMMY_model.frontPart|%model.divLike;|%model.global;)*))?,((_DUMMY_model.divBottomPart),(_DUMMY_model.divBottomPart|%model.global;)*)?))>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %tei_att.global.attributes;
 %tei_att.declaring.attributes; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT bibl (#PCDATA|_DUMMY_model.gLike|%model.highlighted;|%model.pPart.data;|_DUMMY_model.pPart.edit|_DUMMY_model.segLike|_DUMMY_model.ptrLike|%model.biblPart;|%model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %tei_att.global.attributes;
 %tei_att.declarable.attributes;
 %tei_att.typed.attributes;
 %tei_att.sortable.attributes;
 %tei_att.docStatus.attributes; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure] -->
<!ELEMENT body (((%model.global;)*,((%model.divTop;),(%model.global;|%model.divTop;)*)?,((_DUMMY_model.divGenLike),(%model.global;|_DUMMY_model.divGenLike)*)?,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(%model.global;|_DUMMY_model.divGenLike)*)+|(((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(%model.global;|_DUMMY_model.divGenLike)*)+)?)),((_DUMMY_model.divBottom),(%model.global;)*)*))>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %tei_att.global.attributes;
 %tei_att.declaring.attributes; >
<!--doc:(category reference) specifies one or more defined categories within some taxonomy or text typology. [2.4.3. The Text Classification] -->
<!ELEMENT catRef  EMPTY>
<!ATTLIST catRef xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catRef
 %tei_att.global.attributes;
 %tei_att.pointing.attributes;
scheme %teidata.pointer;  #IMPLIED >
<!--doc:contains a date in any format. [3.5.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.6. Dates and Times] -->
<!ELEMENT date (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %tei_att.global.attributes;
 %tei_att.datable.attributes;
 %tei_att.editLike.attributes;
 %tei_att.typed.attributes; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body] -->
<!ELEMENT div (((%model.divTop;|%model.global;)*,((((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((_DUMMY_model.divBottom),(%model.global;)*)*)?))>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %tei_att.global.attributes;
 %tei_att.divLike.attributes;
 %tei_att.typed.attributes;
 %tei_att.declaring.attributes;
 %tei_att.written.attributes; >
<!--doc:contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [3.11.2.2. Titles, Authors, and Editors] -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editor
 %tei_att.global.attributes;
 %tei_att.naming.attributes; >
<!--doc:(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT fileDesc (((titleStmt,(editionStmt)?,(extent)?,publicationStmt,(seriesStmt)?,(notesStmt)?),(sourceDesc)+))>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %tei_att.global.attributes; >
<!--doc:(front matter) contains any prefatory matter (headers, abstracts, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6. Title Pages 4. Default Text Structure] -->
<!ELEMENT front (((_DUMMY_model.frontPart|%model.pLike;|%model.pLike.front;|%model.global;)*,((((_DUMMY_model.div1Like),(_DUMMY_model.div1Like|_DUMMY_model.frontPart|%model.global;)*)|((%model.divLike;),(%model.divLike;|_DUMMY_model.frontPart|%model.global;)*)),((_DUMMY_model.divBottom),(_DUMMY_model.divBottom|%model.global;)*)?)?))>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %tei_att.global.attributes;
 %tei_att.declaring.attributes; >
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers] -->
<!ELEMENT head (#PCDATA|lg|_DUMMY_model.gLike|%model.phrase;|%model.inter;|_DUMMY_model.lLike|%model.global;)*>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %tei_att.global.attributes;
 %tei_att.typed.attributes;
 %tei_att.placement.attributes;
 %tei_att.written.attributes; >
<!--doc:contains one component of a list. [3.7. Lists 2.6. The Revision Description] -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %tei_att.global.attributes;
 %tei_att.sortable.attributes; >
<!--doc:contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. The Text Classification] -->
<!ELEMENT keywords ((term)+|list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST keywords
 %tei_att.global.attributes;
scheme %teidata.pointer;  #IMPLIED >
<!--doc:contains any sequence of items organized as a list. [3.7. Lists] -->
<!ELEMENT list (((%model.divTop;|%model.global;)*,((item,(%model.global;)*)+|((headLabel)?,(headItem)?,(label,(%model.global;)*,item,(%model.global;)*)+)),((_DUMMY_model.divBottom),(%model.global;)*)*))>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
 %tei_att.global.attributes;
 %tei_att.sortable.attributes;
 %tei_att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
<!--doc:contains a note or annotation. [3.8.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.11.2.8. Notes and Statement of Language 9.3.5.4. Notes within Entries] -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %tei_att.global.attributes;
 %tei_att.placement.attributes;
 %tei_att.pointing.attributes;
 %tei_att.typed.attributes;
 %tei_att.written.attributes;
anchored %teidata.truthValue;  "true" 
targetEnd CDATA  #IMPLIED >
<!--doc:(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %tei_att.global.attributes;
 %tei_att.declaring.attributes;
 %tei_att.fragmentable.attributes;
 %tei_att.written.attributes; >
<!--doc:(page beginning) marks the beginning of a new page in a paginated document. [3.10.3. Milestone
Elements] -->
<!ELEMENT pb  EMPTY>
<!ATTLIST pb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pb
 %tei_att.global.attributes;
 %tei_att.typed.attributes;
 %tei_att.edition.attributes;
 %tei_att.spanning.attributes;
 %tei_att.breaking.attributes; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4. The Profile Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT profileDesc (%model.profileDescPart;)*>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST profileDesc
 %tei_att.global.attributes; >
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description] -->
<!ELEMENT publicationStmt (((%model.publicationStmtPart.agency;),(%model.publicationStmtPart.detail;)*)+|(%model.pLike;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %tei_att.global.attributes; >
<!--doc:(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(%model.biblLike;|_DUMMY_model.sourceDescPart|%model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %tei_att.global.attributes;
 %tei_att.declarable.attributes; >
<!--doc:(speech) contains an individual speech in a performance text, or a passage presented as such in a prose or verse text. [3.12.2. Core Tags for Drama 3.12. Passages of Verse or Drama 7.2.2. Speeches and Speakers] -->
<!ELEMENT sp (((%model.global;)*,(speaker,(%model.global;)*)?,((lg|_DUMMY_model.lLike|%model.pLike;|%model.listLike;|_DUMMY_model.stageLike|_DUMMY_model.qLike),(%model.global;)*)+))>
<!ATTLIST sp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sp
 %tei_att.global.attributes;
 %tei_att.ascribed.attributes; >
<!--doc:(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text] -->
<!ELEMENT teiHeader ((fileDesc,(%model.teiHeaderPart;)*,(revisionDesc)?))>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %tei_att.global.attributes; >
<!--doc:contains a single-word, multi-word, or symbolic designation which is regarded as a technical term. [3.3.4. Terms, Glosses, Equivalents, and Descriptions] -->
<!ELEMENT term %macro.phraseSeq;>
<!ATTLIST term xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST term
 %tei_att.global.attributes;
 %tei_att.declaring.attributes;
 %tei_att.pointing.attributes;
 %tei_att.typed.attributes;
 %tei_att.canonical.attributes;
 %tei_att.sortable.attributes;
 %tei_att.cReferencing.attributes; >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT text (((%model.global;)*,(front,(%model.global;)*)?,(body|group),(%model.global;)*,(back,(%model.global;)*)?))>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %tei_att.global.attributes;
 %tei_att.declaring.attributes;
 %tei_att.typed.attributes;
 %tei_att.written.attributes; >
<!--doc:(text classification) groups information which describes the nature or topic of a text in terms of a standard classification scheme, thesaurus, etc. [2.4.3. The Text Classification] -->
<!ELEMENT textClass (classCode|catRef|keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textClass
 %tei_att.global.attributes;
 %tei_att.declarable.attributes; >
<!--doc:contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %tei_att.global.attributes;
 %tei_att.canonical.attributes;
 %tei_att.typed.attribute.subtype;
 %tei_att.datable.attributes;
type %teidata.enumerated;  #IMPLIED
level (a|m|j|s|u) #IMPLIED >
<!--doc:(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description] -->
<!ELEMENT titleStmt (((title)+,(%model.respLike;)*))>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %tei_att.global.attributes; >
<!-- end elements -->
